@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins', sans-serif;
    background:#f5f5f5;
    color:#111;
}

.entrevista-container{
    width:90%;
    max-width:1400px;
    margin:auto;
    padding:40px 0;
}
.info h2 a{
    color: var(--color1);

    text-decoration:none;
}
.info h2 a:hover{
    color: var(--color2);
}

.titulo-seccion{
    font-size:4rem;
    color:#00558c;
    margin-bottom:40px;
    border-bottom:#D38C3A;
    display:inline-block;
    padding-bottom:10px;
}

.contenido{
    display:grid;
    grid-template-columns: 2fr 1fr;
    gap:40px;
}

.noticias{
    display:flex;
    flex-direction:column;
    gap:50px;
}

.noticia-principal{
    display:flex;
    gap:25px;
    border-bottom:1px solid #ccc;
    padding-bottom:30px;
}

.noticia-principal img{
    width:350px;
    height:220px;
    object-fit:cover;
}

.info{
    flex:1;

}


.info h2{
    font-size:2.2rem;
    margin:15px 0;
    line-height:1.3;
    
}

.info p{
    color:#555;
    font-size:1.1rem;
    line-height:1.8;
}

.sidebar{
    background:white;
    padding:20px;
}

.ultima-noticia{
    border-bottom:1px solid #ddd;
    padding:20px 0;
}

.ultima-noticia span{
    color:#777;
    font-size:.9rem;
}

.ultima-noticia p{
    margin-top:10px;
    font-weight:600;
    line-height:1.5;
}

@media(max-width:1000px){

    .contenido{
        grid-template-columns:1fr;
    }

    .noticia-principal{
        flex-direction:column;
    }

    .noticia-principal img{
        width:100%;
    }

    .titulo-seccion{
        font-size:2.8rem;
    }

    .info h2{
        font-size:1.8rem;
    }

}